.header {
    width: 100%;
    height: 5rem;
    background-color: #0fcbf3;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #0990ad;
    padding: 1rem;
}

@keyframes pulse {
    0% {
        transform: scale(0.8, 0.8);
    }

    50% {
        transform: scale(1, 1);
    }

    100% {
    transform: scale(0.8, 0.8);
    }
}

.icon {
    animation: pulse 10s linear infinite;
    width: 50px;
    height: auto;
    overflow: hidden;
}

.navigation {
    display: flex;
    align-items: center;
    padding: 5px;
}  

.button {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border: 2px solid #0990ad;
    background-color: #58dbf7;
    color: black;
    padding: 0.75rem 2.5rem;
    border-radius: 10px;
    transition: color 0.1s linear, background-color 0.1s linear;
}

.button:hover {
    background-color: #0990ad;
    color: white;
}